/* CSS declarations go here */
* {
    margin:0;
    padding:0;
}

#prayers {
    width:20%;
    float:left;
}

#main {
    width:80%;
    float:right;
}

#prayer_preview {
    clear:left;
    float:left;
}

#new_prayer .item {
    float:left;
    clear:left;
}

header {
    height: 1.8em;
    background-color: #333;
    text-align:right;
    padding:0.3em 0.5em 0 0;
}

header a {
    color: #fff;
}