<template name="aPrayer">
    {{#each prayers}}
        <h2>
            {{title}}   
        </h2>
        <p>
            {{prayer}}
        </p>
        {{#if answer}}
            <h3>
                Answer    
            </h3>
            <p>
                {{answer}}    
            </p>
        {{/if}}
        {{#unless answer}}
            <button id="answerPrayer" class="btn btn-success">
                Add Answer
            </button>
            <form id="answerForm">
                <textarea id="answer" class="item" name="answer" tabindex="1" required="true" wrap="soft" autofocus="true" cols="60" rows="10"></textarea>
                <input type="button" class="saveAnswer item" value="Save Answer" />
            </form>
        {{/unless}}
    {{/each}}
    
</template>

<template name="newPrayer">
    <h1>{{title}}</h1>
    <form id="new_prayer">
        <label for="prayer_title" class="item">Title</label>
        <input id="prayer_title" class="item" type="text" tabindex="1"/>
        
        <textarea id="prayer" class="item" name="prayer" tabindex="2" required="true" wrap="soft" autofocus="true" cols="60" rows="10"></textarea>
        <input type="button" class="save item btn btn-success" value="Save" tabindex="3" />
    </form>
</template>

<template name="recentPrayers">
    <ul class="nav nav-pills nav-stacked">
        {{#each prayers}}
        <li>
            <a href="#" id="{{_id}}" class="recent">{{title}}</a>
        </li>
        {{/each}}
    </ul>
</template>

<template name="header">
    <a class="brand" href="#">Prayer Journal</a>
    <span class="pull-right">{{loginButtons}}</span>
    <ul class="nav pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a id="pray" href="#">New Prayer</a></li>
    </ul>
</template>

<template name="main">
    {{#if mainTemplateIs "newPrayer"}}
        {{> newPrayer}}
    {{/if}}
    {{#if mainTemplateIs "aPrayer"}}
        {{> aPrayer}}
    {{/if}}
</template>